form {
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
}

label {
  display: block;
  font-weight: bold;
  margin-right: 10px;
}

input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
}

button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
