#resultContainer h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

#resultContainer p {
  margin-bottom: 5px;
}

.text {
  margin-bottom: 5px;
}

.polarity {
  margin-bottom: 5px;
}

.confidence {
  margin-bottom: 5px;
}

.subjectivity {
  margin-bottom: 5px;
}
